body{
    background: #5f6468;
    color: #131917
}

.formPage{
    text-align: center;
}
img{
    border-radius: 500px;
}
table{
    height: 150px;
    border-radius: 5px;
    background: #fbefdf ;
    border: 2px solid #27282d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 220px;
    text-align: right;
}
/*#circle {
    position: ;

    margin-top: 50%;
    width: 350px;
    height: 350px;
    background: #7fee1d;
    -moz-border-radius: 600px;
    -webkit-border-radius: 600px;
    border-radius: 600px;
}*/
